body {
    background: #16a085;
    font-family: "Open Sans";
    color: white;
}

div {
    width: 100px;
    height: 100px;
    border: 6px solid #e74c3c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

